extends layout

block content
  h1= title

  ul
  each genre in genre_list
    
    li      
      a(href=genre.url) #{genre.name}  
      button.btn.btn-primary(type='submit',class='sidebar-nav') 删除
     
    //-   |  (#{book.author.name})    

  else
    li There are no genre.
